/*
*    WakaLive
*/
body{
    background: #f7f7f7;
    color: #333;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    text-align: center;
}

.clear:after{
    clear: both;
    content: "";
    display: block;
}

input[type='submit'],button{
    border: none;
    background: #F3FFBD;
    color: #000;
    padding: .2em 1em;
    box-shadow: 0 0 2px #000;
    cursor: pointer;
}

#headbox ul{
    position: absolute;
    right: 0;
}

#headbox ul li{
    display: inline;
    padding: 0;
    margin: 0 .4em;
}

#headbox ul li a{
    color: #000;
    padding:.2em .6em;
    background: #FF1654;
    color: #fff;
}

h1#sitename{
    font-size: 36px;
    text-shadow: 0 0 1px #333;
    cursor: pointer;
}

#flash{
    width: 100%;
    text-align: center;
    color: #F00;
    font-weight: 600;
}

#container{
    margin: 0 auto;
    width: 90%;
    font-size: 16px;
    padding: .4em;
    max-width: 960px;
    margin: auto;
}
#live_list{

}
#live_list ul{
    padding: 0;
    list-style: none;
}
#live_list li a::before{
    content: '';
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 1em;
    text-align: center;
    vertical-align: middle;
}
#live_list li{
    background: #21A3FF;
    border-radius: 5px;
    margin: .5em 0;
    padding: .5em;
}
#live_list li:hover{
    background: #F0C808;
    transition: .1s;
}

#live_list li a{
    color: #FFF;
    display: block;
    font-size: 1.2em;
    text-shadow: 0px 0px 1px #fff;
}



.authbox{
    margin: 0 auto;
    max-width: 500px;
}
.authbox label{
    text-align: left;
    font-weight: 600;
}
.authbox input{
    width: 100%;
    margin: .6em auto;
    padding: .4em 1em;
}

.info{
    border: 1px solid #ccc;
    margin: 2em auto;
    padding: 1em;
    background: #f3f3f3;
    box-shadow: 0 0 5px #ccc;
}

.info label{
    font-weight: 600;
    color: #666;
    display: block;
}

.info input,.info button{
    width: 100%;
    margin: .2em auto;
    padding: .4em 1em;
}
.info input[type="checkbox"],.info input[type='radio']{
    width: auto;
    display: inline;
}

.info textarea{
    width: 100%;
}

.info_block{
    margin: 1em auto;
    border-bottom: 2px solid #ccc;
    padding: .3em 0;
}

.info_block iframe{
    width: 100%;
    padding: .2em 0;
}

#user_list ul{
    list-style: none;
}
#user_list li{
    display: block;
    border: 1px dashed #ccc;
    padding: .5em 1em;
}

#user_list .user_info span{
    margin-right: 2em;
}
#user_list .user_info,#user_list .live_info{
    border-bottom: 1px solid #ddd;
    margin: 5px 0;
}

#user_list  .manage form{
    display: inline-block;
}

#livename{
    text-align: left;
    margin: 0 auto;
}

#chatroom{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 1em;
    overflow: auto;
    height: 250px;
}
#chatroom p{
    padding: 0;
    line-height: .8em;
    color: #666;
}

#chatroom .strong{
    color: #000;
}

.chatbox input,.chatbox button{
    width: 100%;
}
.chatbox input{
    border-top: 0;
    padding: 1em;

}
